*{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    vertical-align: middle;
}
button:focus{
    outline: 0;
}
h1,h2,h3,h4,h5,h6,a,ul,ol,li,i,p{
    margin: 0;
    padding: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 22px;
    text-transform: uppercase;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    line-height: 24px;
}
.p80{
    padding-bottom: 80px;
    padding-top: 80px;
}
.pt80{
    padding-top: 80px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(226, 62, 56, 0.6);
    top: 0;
    left: 0;
    text-align: center;
}
.relative{
    position: relative;
}
.border_img{
    margin-top: -9px;
}
/*============================*/
    /* common css ends*/
/*==========================*/


/*============================*/
    /* banner part start*/
/*==========================*/
.top_to{
    position: fixed;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #e23e38;
    right: 30px;
    bottom: 30px;
    line-height: 40px;
    text-align: center;
    z-index: 999999;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}
#banner .slide_1{
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
}
#banner .slide_2{
    background: url(../images/banner-2.jpg) no-repeat center;
    background-size: cover;
}
#banner .slide_3{
    background: url(../images/banner-3.jpg) no-repeat center;
    background-size: cover;
}
#banner .banner_overlay{
    background: rgba(0, 0, 0, 0.6);
    padding-top: 247px;
    padding-bottom: 117px;
}
#banner h3{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase
}
#banner h1{
     font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #e23e38;
    text-transform: uppercase;
    
}
#banner p{
    color: #f7f7f7;
    font-size: 14px;
    padding-bottom: 30px;
}
#banner ul li{
    display: inline-block;
}
#banner ul li a{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #e23e38;
    border: 1px solid #e23e38;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    word-spacing: 1px;
    margin: 0 13px;
    transition: all linear 0.3s;
}
#banner ul li a:hover{
    color: #fff;
    border: 1px solid #fff;
    background:transparent; 
}
#banner .banner_border_1,
#banner .banner_border_2,
#banner .banner_border_3{
    position: relative;
}
#banner .banner_border_1::after{
    content: '';
    position: absolute;
    width: 31%;
    height: 3px;
    left: -19px;
    top: 20px;
    background: #e23e38;
    border-bottom-right-radius: 29px;
}
#banner .banner_border_1::before{
    position: absolute;
    content: '';
    height: 83%;
    width: 3px;
    left: -22px;
    bottom: 19px;
    background: #e23e38;
}
#banner .banner_border_2::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 16%;
    background: #e23e38;
    left: -19px;
    bottom: 19px;
    border-bottom-right-radius: 30px
}
#banner .banner_border_2::before{
      position: absolute;
    content: '';
    height: 3px;
    width: 11%;
    background: #e23e38;
    right: -21px;
    bottom: 19px;
    border-bottom-left-radius: 30px
}
#banner .banner_border_3::before{
    position: absolute;
    content: '';
    height: 83%;
    width: 3px;
    right: -22px;
    bottom: 19px;
    background: #e23e38;
    
}
#banner .banner_border_3::after{
    content: '';
    position: absolute;
    width: 22%;
    height: 3px;
    right: -19px;
    top: 20px;
    background: #e23e38;
    border-bottom-left-radius: 29px; 
}
#banner .banner_slide .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 99999;
    transform: translateX(-50%);
    z-index: 10;
}
#banner .banner_slide .slick-dots li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    background: none;
    border-radius: 50%;
    margin: 0 4px;
}
#banner .banner_slide .slick-dots li.slick-active button{
    background:#e23e38; 
    border: 1px solid #e23e38;
}

/*============================*/
    /* banner part ends*/
/*==========================*/



/*============================*/
    /* menu part start*/
/*==========================*/
header #navigation nav button{
    margin-left: auto;
}

header #navigation .navbar-light .navbar-toggler{
    border-color: rgba(255, 255, 255, 1) !important;
}
header #navigation nav button i{
    color: #fff;
}
header #navigation{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    background: rgba(28, 27, 27, 0.35);
}
header #navigation.navFixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background: #e23e38;
}

header #navigation nav .navbar-nav .nav-item .nav-link{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 10px;
    line-height: 50px;
    font-weight: 400;
    position: relative;
}
header #navigation nav .navbar-nav .nav-item .nav-link.active{
    background: #fff;
    color: #444;
}
header #navigation nav .navbar-nav .nav-item .nav-link:hover{
    background: #fff;
    color: #444;
}
header #navigation nav .navbar-nav .nav-item .nav-link::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #e23e38;
    transition: all linear 0.3s;
}
header #navigation.navFixed .navbar .navbar-brand{
    background: #323232;
    padding: 0px 30px !important;
    position: absolute;
    left: 0;
    top: 0px;
    transform: skewX(-35deg);
}
header #navigation.navFixed .navbar .navbar-brand img{
   height: 50px;
    padding: 5px 0
}
header #navigation nav .navbar-nav .nav-item .nav-link.user::after{
    display: none;
}
header #navigation nav .navbar-nav .nav-item .nav-link.user{
    background: #fff;
    line-height: 30px;
    color: #444;
    margin: 10px 4px;
    margin-right: 5px;
    letter-spacing: 2px;
    border-radius: 20px;
}
header #navigation nav .navbar-nav .nav-item .nav-link:hover::after,
header #navigation nav .navbar-nav .nav-item .nav-link.active::after{
    width: 100%;
}
header #navigation .navbar .navbar-brand{
    background: #323232;
    padding: 10px 30px !important;
    position: absolute;
    left: 0;
    top: -10px;
    transform: skewX(-35deg);
}
header #navigation .navbar .navbar-brand img{
    transform: skewX(35deg);
}

/*============================*/
    /* menu part ends*/
/*==========================*/




#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #2a80b9 url(../images/Preloader.gif) no-repeat center center;
}



/*modal ends*/


#exampleModal{
    background: rgba(255, 255, 255, 0.2);
}
.modal-content{
    background: url(../images/gallery_bg.jpg) no-repeat center;
    background-size: cover;
    border: 1px solid #fff;
}
.modal{
    z-index: 9999999;
}
.modal_overlay{
    background:rgba(0, 0, 0, 0.8);
}
.modal-body .input_fiels{
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
    font-weight: 400;
    width: 100%;
    height: 34px;
    font-size: 14px;
    padding: 0 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    background: none;
}
.modal-header h3{
    color: #fff;
   font-size: 18px;
    text-transform: capitalize;
}
.input_send{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #e23e38;
    border: 1px solid #e23e38;
    padding: 5px 0
        
}
.close,
.close:focus, .close:hover{
    opacity: 1
}
.close i{
    font-size: 18px;
    color: #fff;
    opacity: 1;
    width: 30px;
    height: 30px;
    background: #e23e38;
    line-height: 30px;
}
/*modal ends*/

/*============================*/
    /* about part start*/
/*==========================*/
#about .video .overlay{
    background: rgba(0, 0, 0, 0.6);
}
#about .video .overlay i{
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e23e38;
    
}
#about .video .overlay i:hover{
    color: #fff;
}
#about .about_text p{
    font-size: 14px;
    color: #777;
    line-height: 24px;
    padding-top: 11px !important;
    padding-left: 30px !important;
}
#about .pt_19{
    padding-top: 19px;
}
/*============================*/
    /* about part ends*/
/*==========================*/

/*============================*/
    /* gallery part start*/
/*==========================*/
#gallery .gallery_bg, #testimonial .test_bg{
    background: url(../images/gallery_bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 20px;
}
#gallery .gallery_bg .gallery_overlay{
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 30px;
    
}
#gallery .gallery_bg  .gallery_image{
    margin-top: 30px;
    transition: all linear 0.3s;
}
#gallery .gallery_bg  .gallery_image .overlay{
    opacity: 0;
    transition: all linear 0.3s;
        border: 5px solid #fff;
}
#gallery .gallery_bg  .gallery_image:hover .overlay{
    opacity: 1;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
}
#gallery .gallery_bg .gallery_overlay i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    color: #fff;
    transform:translate(-50%,-50%);
}
.vbox-overlay {
    z-index: 99999999;
}
.vbox-close {
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 18px;
    width: 50px;
    height: 40px;
    padding: 6px;
    display: block;
    background-position: 10px center;
    overflow: hidden;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    z-index: 1050;
}
/*============================*/
    /* gallery part ends*/
/*==========================*/

/*============================*/
    /* team part start*/
/*==========================*/
#team_part .taem_slide .slick-list{
    padding-top:70px;
}
#team_part .taem_slide figure{
    border: 1px solid rgba(221, 221, 221, 0);
    transition: all linear 0.3s;
}
#team_part .taem_slide figure:hover{
    border: 1px solid rgba(221, 221, 221, 1);
    transform: translateY(-40px);
}
#team_part .taem_slide figure .team_member{
    background: #f1f1f1;
    transition: all linear 0.3s;
}
#team_part .taem_slide figure:hover .team_member{
    background: #ddd;
}
#team_part .taem_slide figure .team_member .overlay{
    background: rgba(226, 62, 56, 0.5);
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    opacity: 0;
    transition: all linear 0.3s;
}
#team_part .taem_slide figure:hover .team_member .overlay{
    opacity: 1;
    width: 94%;
    height: 94%;
    left: 3%;
    top: 3%;
}
#team_part .taem_slide figure .team_member .overlay ul{
    float: right;
    margin-right: 10px;
    margin-top: 50%;
    transform: translateY(-50%);
}
#team_part .taem_slide figure .team_member .overlay ul li a i{
    font-size: 15px;
    color: #FFF;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 5px 0;
    transition: all linear 0.3s;
}
#team_part .taem_slide figure .team_member .overlay ul li a i:hover{
    background: #fff;
    color: #1da0f2;
}
#team_part .taem_slide figure figcaption{
    padding: 17px 10px;
}
#team_part .taem_slide figure figcaption span{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
}
#team_part .taem_slide figure figcaption h4{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #353535;
    font-weight: 400;
    text-transform: uppercase;
}
#team_part .taem_slide figure figcaption p{
    color: #777777;
    line-height: 18px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s;
}
#team_part .taem_slide figure:hover figcaption p{
    opacity: 1;
    visibility: visible;
    height: auto;
}
/*============================*/
    /* team part ends*/
/*==========================*/

/*============================*/
  /* testimonial part start*/
/*==========================*/
#testimonial .test_overlay{
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 0 70px;
}
#testimonial .test_overlay .review h4{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
}
#testimonial .test_overlay .review span{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
}
#testimonial .test_overlay .review ul li{
    display: inline-block;
}
#testimonial .test_overlay .review{
    padding-left: 95px;
    position: relative;
}
#testimonial .test_overlay .review img{
    position: absolute;
    top:0;
    left: 0;
}

#testimonial .test_overlay .review ul li a i{
    font-size: 14px;
    color: #e23e38;
}
#testimonial .test_overlay .message p{
    line-height: 18px;
    color: #fff;
    margin-top: 20px;
    font-size: 12px;
}
#testimonial .testimonial_slide .slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
#testimonial .testimonial_slide .slick-dots li{
    display: inline-block;
}
#testimonial .testimonial_slide .slick-dots li.slick-active button{
    border: 1px solid  #e23e38;
    background: #e23e38;
}
#testimonial .testimonial_slide .slick-dots li button{
    font-size: 0px;
    margin: 0 4px;
    width: 15px;
    height:15px;
    border: 1px solid #fff;
    background: none;
    border-radius: 50%;
}
/*============================*/
  /* testimonial part ends*/
/*==========================*/

/*============================*/
  /* membership  part ends*/
/*==========================*/
#membership .price_heading h4{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #353535;
    font-weight: 500;
    line-height: 54px;
    text-transform: uppercase;
     background: #ddd;
}
#membership .price{
    background: url(../images/price-1.jpg) no-repeat center;
    background-size: cover;
}
#membership .price_2{
    background: url(../images/price-2.jpg) no-repeat center;
    background-size: cover
}#membership .price_3{
    background: url(../images/price-3.jpg) no-repeat center;
    background-size: cover
}
#membership .price .price_overlay{
    background: rgba(0, 0, 0, 0.8);
    padding: 28px 0 24px;
}
#membership .price .price_overlay h3{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
#membership .price .price_overlay h3 span{
    font-size: 29px;
}
#membership .price_item{
    
}
#membership .price_item ul{
    background: #f1f1f1;
    padding: 18px 0 
}
#membership .price_item ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #555;
    text-transform: capitalize;
    padding: 15px 0
}
#membership .price_item a{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #353535;
    font-weight: 400;
    background: #ddd;
    display: block;
    line-height: 35px;
    text-transform: uppercase;
}
#membership .member_hv:hover .price_heading h4,#membership .member_hv:hover .price_item a{
    background: #e23e38;
    color: #fff;
}
/*============================*/
   /* membership part ends*/
/*==========================*/


/*============================*/
   /* COUNTER part START*/
/*==========================*/
#counter_part{
    background: url(../images/counter.jpg) no-repeat center;
    background-size: cover;
 
}
#counter_part .counter_overlay{
    background: rgba(0, 0, 0, 0.8);
       padding: 50px 0;
}
#counter_part h3{
    font-size: 50px;
    color: #ffff;
}
#counter_part span{
      font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

/*============================*/
   /* COUNTER part ends*/
/*==========================*/

/*============================*/
   /* classes part start*/
/*==========================*/
#classes .nav{
    background: #ddd;
}
#classes .nav .nav-item .nav-link{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 14px;
    border-radius: 0;
    text-align: center
}
#classes .nav .nav-item{
    width: 16.66%;
}

#classes .nav-pills .nav-link.active,#classes .nav-pills .show>.nav-link{
    background: #e23e38;
    color: #fff;
}
#classes .tab-content ul{
    text-align: center;
}
#classes .tab-content ul li{
    width: 20%;
    float: left;
    background:#f1f1f1;
    border: 2px solid  #fff;
    min-height: 200px;
    position: relative;
}
#classes .tab-content li .text p{
    color: #353535;
    font-size: 16px;
}
#classes .tab-content ul li .text  i{
    font-size: 50px;
}
#classes .tab-content ul li .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
}
#classes .tab-content ul li:hover{
    background: #e23e38;
    transform: scale(1.1);
    z-index: 9999;
}
#classes .tab-content ul li:hover .text p,
#classes .tab-content ul li:hover .text i{
    color: #fff;
}
/*============================*/
   /* classes part ends*/
/*==========================*/


/*============================*/
   /* partner part start*/
/*==========================*/
#partner{
    padding-bottom: 80px;
}
#partner .logo{
    background: #ddd;
}
#partner .partner_slide i.left_angle{
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}
#partner .partner_slide i.right_angle{
    font-size: 26px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
#partner .partner_slide i.left_angle:hover,
#partner .partner_slide i.right_angle:hover{
    color: #e23e38;
}
/*============================*/
   /* partner part ends*/
/*==========================*/



/*============================*/
   /* footer part start*/
/*==========================*/
footer{
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;
}
footer .footer_overlay{
    background: rgba(0, 0, 0, 0.85);
}
footer .footer_overlay .footer_logo{
    padding: 30px 0px;
    border-bottom: 2px solid #fff;
}
footer .footer_overlay .footer_contents h3{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
}
footer .footer_overlay .footer_contents ul li{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding-left: 100px;
    position: relative;
    padding-bottom: 6px;
}
footer .footer_overlay .footer_contents ul li span{
    position: absolute;
    left: 0;
    top: 0;
}
footer .footer_overlay .footer_contents p{
    color: #fff;
    line-height: 18px;
    font-size: 13px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
}
footer .footer_overlay .footer_contents p span{
    display: block;
}
footer .footer_overlay .footer_contents p i{
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 18px;
    color: #1da1f2
}
footer .footer_overlay .footer_contents .flicker .p5{
    padding: 0 5px;
    margin-bottom: 10px;
}
footer .footer_overlay .footer_contents address p{
    padding-left: 20px;
    padding-bottom: 17px;
}
footer .footer_overlay .footer_contents address p a{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 13px ;
    color: #fff;
}
footer .footer_overlay .footer_contents address{
    margin: 0;
}
footer .footer_overlay .footer_contents address p a i{
    font-size: 14px;
    color: #e23e38
}
footer .footer_overlay .footer_contents ul.social li{
    display: inline-block;
    padding-left: 0;
}
footer .footer_overlay .footer_contents ul.social li a i{
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
footer .footer_overlay .footer_contents ul.social li a i:hover{
    background: #e23e38;
    border-color: #e23e38
}
footer .footer_overlay .footer_contents .cntc_h3{
    padding-top: 0;
}
footer .footer_overlay .copy_right{
    padding: 20px 0;
    border-top: 1px solid #fff;
}
footer .footer_overlay .copy_right p{
    color: #fff
}
footer .footer_overlay .copy_right p a{
    font-size: 14px;
    color: #e23e38;
    text-transform: uppercase;
}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}
footer{}



